body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #202124;
    color: white;
    text-align: center;
}

header {
    background: #0d47a1;
    padding: 30px;
}

h1 {
    margin: 0;
    font-size: 50px;
}

p {
    font-size: 20px;
}
main {
    margin-top: 40px;
}

select {
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
}

img {
    width: 350px;
    display: none;
    border-radius: 15px;
    margin-top: 20px;
}
