body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #202124;
    color: white;
    text-align: center;
}

header {
    background: #0d47a1;
    padding: 30px;
}

h1 {
    margin: 0;
    font-size: 50px;
}

p {
    font-size: 20px;
}
.container{
    margin-top: 40px;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.carousel img{
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
}

.carousel button{
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #1976d2;
    color: white;
}

.carousel button:hover{
    background: #42a5f5;
}
